@using Cinema.Web.Utility

@if (Model.Count == 0)
{
    <div class="contentText">No movie available.</div>
}
else
{
    <div class="row row-cols-md-5 row-cols-sm-1 g-4">

        @foreach (var movie in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="@Cinema.Web.Utility.ImageExtension.ToImgSrc(movie.Image)" alt="@movie.Title" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="stretched-link text-dark text-underline-hover" asp-action="Details"
                               asp-controller="Movie" asp-route-movieId="@movie.Id">@movie.Title</a>
                        </h5>
                    </div>
                </div>
            </div>
        }
    </div>
}